preview {
  display: flex;
  justify-content: space-between;
  padding: 3em 0;

  a {
    color: #41addd;

    &:hover {
      color: #6cc0e5;
    }
  }
}

  #react-mathjax-preview {
    overflow-wrap: break-word;
  }
  .hide{
    display: none !important;
  }
